extends layout

block content
  h1 #{title}: #{book.title}

  p #[strong Author:] 
    a(href=book.author.url) #{book.author.name}
  p #[strong Summary:] #{book.summary}
  p #[strong ISBN:] #{book.isbn}
  p #[strong Genre:]&nbsp;
    each val, index in book.genre
      a(href=val.url) #{val.name}
      //- Put a comma if not last
      if index < book.genre.length - 1
        |,

  if book_bookinstances.length
    p #[strong Delete the following book instances before attempting to delete this book.]

    div(style='margin-left:20px;margin-top:20px')
      h4 Book Instances

      dl
      each bookinstance in book_bookinstances
        dt
          a(href=bookinstance.url) #{bookinstance._id}
        dd #{bookinstance.book.title}
        dd #{bookinstance.imprint}
        dd #{bookinstance.status}
        dd #{bookinstance.due_back}
  
  else
    p Do you really want to delete this Book?

    form(method='POST' action='')
      div.form-group
        input#bookid.form-control(
          type='hidden'
          name='bookid'
          required='true'
          value=book._id
        )

      button.btn.btn-primary(type='submit') Delete

